<html>
<head>
	<title>BUILD: Volunteer Log</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/books.ico">

<!-- Bootstrap collapsible navbar -->
	<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">BUILD Volunteer Log</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<!-- to do: only show this after volunteer is signed in 	
			<ul class="nav navbar-nav navbar-right">
	    		<li class=""><a href="#">Signed in as </a></li>
	    	</ul> -->
			
			<!-- Button routes to the Google OAUTH -->	
			{% if signed_in==False %}
				<form class="nav navbar-nav navbar-right navbar-form" role="signin" action='/signin' method='GET'>
					<div class="form-group">
					<button class="btn btn-danger" type="submit"><strong>Sign In </strong></button>
				</div>
				</form> 
			{% endif%}

			{% if signed_in==True %}
				<div class='nav navbar-nav navbar-right' style='color:yellow;padding:15px;'> {{ message }}</div>
			{% endif %}

	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
</head>

<body>

	<!-- The form the Volunteers fill out after signing in -->
	<div class="container main">
		{% if signed_in==False %}
			<H1>Welcome to the BUILD-Bridging Berkeley Log</H1>
			<h2>Please sign in with your BeConnected Account.</h2>

		{% endif %}
		{% if signed_in==True %}
		<H1>Please Log your Mentor Activity <span style='font-style: italic; color:red;'></span></h1>

	    <form action='/submitLog' method='POST' class="">
	        <div class='row' STYLE='PADDING:10PX 0;'>
	          	

	          	<div class='col-md-3'>
					<!--A dropdown list of students. Will be dynamically generated dep on Site Location... later -->
	                <lable for='site' class='labels'>Site Location</lable>
	                <select class='form-control' id='select' name='site'>
	                    <option value='site_1'>Longfellow</option>
	                    <option value='site_2'>Young Adult Project</option>

	                    <!-- options for more school site --->
	                    
	                    <!--
	                    
	                    <option value='site_3'>School3</option>
	                    <option value='site_4'>School4</option>
	                    <option value='site_5'>School5</option> 
	                	-->

	                </select>
	            </div>

	        </div> <!--end row-->
	            
	        <div class='row' STYLE='PADDING:10PX 0;'>
	            
	            <div class='col-md-5'>
					<!--A dropdown list of students. Will be dynamically generated dep on Site Location. -->
	                <lable for='scholar' class='labels'>Scholar Name</lable>
	                <input type="text" class='form-control' name="scholar" placeholder="Enter Scholar's Name">
	                <!-- Select options for student roster
	                <select class='form-control' id='select' name='scholar'>
	                    {% for s in students %}
	                    	<option value= {{ s[5] }}>{{ s[5] }}</option>
	                    {% endfor %}
	                </select>
	            	-->
	            </div>

	            <div class='col-md-2'>
	                <label for='duration' class='labels'>Time Spent Together in Minutes</label>
	                <input type="number" class='form-control' min='10' name="duration" placeholder="(Minutes)">
	            </div>

	          	<div class='col-md-5'>
	                <label for='notes'class='labels'>Topic Discussed</label>
	                <input type="text" class='form-control' name="math_topic" placeholder="Math Topic or Other topic discussed">
	            </div>

	          </div> <!--row-->
	          <div class='row' STYLE='PADDING:10PX 0;'>

	            <div class='col-md-4'>
	                <label for='notes'class='labels'>Scholar Ranking of Session</label>
	                <input type="text" class='form-control' name="mentor_rank" placeholder="Rank session between 0-3">
	            </div>

	          	<div class='col-md-4'>
	                <label for='notes'class='labels'>Mentor Ranking of Session</label>
	                <input type="text" class='form-control' name="scholar_rank" placeholder="Rank session between 0-3">
	            </div>

	          	<div class='col-md-4'>
	                <label for='notes'class='labels'>Notes</label>
	                <input type="text" class='form-control' name="note" placeholder="(Optional)">
	            </div>



	          </div>
	          <!--end row-->



	          <a href='#placeResults'><button class="showBtn btn btn-primary roundCorners" type="submit"><strong>Submit</strong></button></a>


        </form><!--/input-group -->
	</div>
	{% endif %}

        



	<script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

<footer>Berkeley Unified in Literacy Development 2015</footer>
