<html>
<head>
	<title>BUILD Bridging Berkeley Log</title>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/book.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<!-- Bootstrap collapsible navbar -->
	<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	      <a class="navbar-brand" href="/">Welcome to BUILD Bridging Berkeley Log</a>
	  </div><!-- /.container-fluid -->
	</nav>
</head>

<body>

<!-- The form the Volunteers fill out after signing in -->
<div class="container main">
			
<!-- This message displays when something is wrong with the form. -->
	{% if post_success==False %}
	<div class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
	</div>
	{% endif %}
	
<!-- This message displays when the form has posted successfully. -->
	{% if post_success==True %}
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{ message }}
	</div>
	{% endif%}

<!-- Actual form here -->
	<h1> Please Log your Mentor Activity <span class='glyphicon glyphicon-pencil'></span></h1>
	    <form action='/submitLog' method='POST'>
	        <div class='row' STYLE='PADDING:10PX 0;'>
	          	<div class='col-md-3'>
	          		<label for='date' class='labels'><span class='glyphicon glyphicon-calendar'></span> Date</label>
	                <input type="date" class='form-control' name="date" required>
	          	</div>

	          	<div class='col-md-3'>
	                <lable for='site' class='labels'>Site Location</lable>
	                <select class='form-control' id='select' name='site'>
	                    <option value='Longfellow'>Longfellow</option>
	                    <option value='Young Adult Project'>Young Adult Project</option>
	                </select>
	            </div>
	        </div>
	        <div class='row row_spacing'>
	            <div class='col-md-5'>

	                <lable for='mentor' class='labels'><span class='glyphicon glyphicon-user'></span> Mentor Name</lable>
	                <input type="text" class='form-control' name="mentor" placeholder="Please enter your name" required>
	            </div>
	           
	           	<div class='col-md-2'>
	                <label for='absences' class='labels'>Student Absent?</label>
	                <select class='form-control' id='select' name='absences'>
	                    <option value='yes'>Yes</option>
	                    <option value='no'>No</option>
	                </select>
	            </div>

	          	<div class='col-md-5'>
	                <lable for='scholar' class='labels'>Scholar Name</lable>
	                <input type="text" class='form-control' name="scholar" placeholder="Please enter Scholar's name" required>
	                
	            </div>

	        </div>
			<div class='row row_spacing'>
	          	<div class='col-md-6'>
	                <label for='math_topic'class='labels'><span class='glyphicon glyphicon-book'></span> Topics Discussed</label>
	                <input type="text" class='form-control' name="math_topic" placeholder="Math Topic or Other topic discussed" required>
	            </div>

	           	<div class='col-md-6'>
	                <label for='duration' class='labels'><span class='glyphicon glyphicon-time'></span> Time Spent Together in Minutes</label>
	                <input type="number" class='form-control' min='0' max='60' name="duration" placeholder="(Minutes)" required>
	            </div>

	          </div> <!--row-->
	          
	          <div class='row row_spacing' >
				<div class='col-md-3'>
	                <label for='notes'class='labels'><span class='glyphicon glyphicon-heart'></span> Mentor Ranking of Session</label>
	                <input type="number" min='0' max='3' class='form-control' name="scholar_rank" placeholder="Rank session between 0-3" required>
	            </div>

	            <div class='col-md-3'>
	                <label for='notes'class='labels'>Scholar Ranking of Session</label>
	                <input type="number" min='0' max='3' class='form-control' name="mentor_rank" placeholder="Rank session between 0-3" required>
	            </div>

	          	<div class='col-md-6'>
	                <label for='notes'class='labels'>Notes</label>
	                <input type="text" class='form-control' name="note" placeholder="(Optional)">
	            </div>


	          </div><!--end row-->

	          <a href='#placeResults'><button class="showBtn btn btn-primary roundCorners" type="submit" style='margin-top:10px;'><strong>Submit</strong></button></a>

        </form><!--/input-group -->
	</div>

	<script src="../static/js/jquery-1.11.3.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>


<footer>Berkeley Unified in Literacy Development 2015</footer>

